<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="Board">
		<id column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_content" property="boardContent"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>
	<resultMap id="replyResultSet" type="Reply">
		<id column="reply_no" property="replyNo"/>
		<result column="reply_content" property="replyContent"/>
		<result column="ref_bno" property="refBoardNo"/>
		<result column="reply_writer" property="replyWriter"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>
	


	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y'
	</select>
	<select id="selectList" resultMap="boardResultSet">
		SELECT * 
		FROM BOARD
		WHERE STATUS='Y'
		ORDER BY BOARD_NO DESC
	</select>
	<insert id="insertBoard" parameterType="Board">
		insert into board
		values(seq_bno.nextval, #{boardTitle}, #{boardContent}, #{boardWriter}, #{originName}, #{changeName}, default, sysdate, default)
	</insert>
	<update id = "increaseCount" parameterType="_int">
		UPDATE BOARD
		SET COUNT= COUNT+1
		WHERE BOARD_NO=#{bno} AND STATUS='Y'	
	</update>
	
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT * 
		FROM BOARD
		WHERE BOARD_NO=#{bno} AND STATUS='Y'	
	</select>

	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET STATUS='N'
		WHERE BOARD_NO=#{bno}
	</update>
	<update id = "updateBoard" parameterType="Board">
		update board
		set board_title=#{boardTitle}, board_content=#{boardContent},
		    origin_name=#{originName}, change_name=#{changeName}
		where board_no=#{boardNo}
	</update>
	<!-- ======================Reply====================== -->
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT REPLY_NO, REPLY_CONTENT, REPLY_WRITER, CREATE_DATE
		FROM REPLY
		WHERE REF_BNO=#{bno} AND STATUS='Y'		
		ORDER BY REPLY_NO DESC	
	</select>
	<insert id="insertReply" parameterType="Reply">
		insert into reply
		values(seq_rno.nextval, #{replyContent}, #{refBoardNo}, #{replyWriter}, sysdate, default)
	</insert>
	<select id="selectTopList" resultMap="boardResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT *
				FROM BOARD
				WHERE STATUS='Y'
				ORDER BY COUNT DESC
				)
		WHERE ROWNUM <6
		]]>
	</select>

	
	
</mapper>
