<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
<resultMap id="boardResultSet" type="Board">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="ORIGIN_FILE" property="originFile"/>
		<result column="CHANGE_FILE" property="changeFile"/>
		<result column="COUNT" property="count"/>
		<result column="FILE_PATH" property="filePath"/>	
		<result column="UPLOAD_DATE" property="uploadDate"/>
</resultMap>

 <select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
</select>
	
<select id="selectList"  resultMap="boardResultSet">
		SELECT *
		FROM BOARD 
		ORDER BY BOARD_NO DESC
</select>	
	
<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD
		values(BOARD_NO.NEXTVAL, #{empId}, #{boardTitle}, 
		#{boardContent}, #{originFile}, #{changeFile}, default, sysdate, default)
</insert>

<update id = "increaseCount" parameterType="_int">
		UPDATE BOARD
		SET COUNT= COUNT+1
		WHERE BOARD_NO=#{bno}
</update>
	
<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM BOARD 
		WHERE BOARD_NO=#{bno} 	
</select>
	
<delete id="deleteBoard" parameterType="_int">
		DELETE FROM BOARD
		WHERE BOARD_NO=#{bno}
</delete>
	
<update id = "updateBoard" parameterType="Board">
		UPDATE BOARD
		SET BOARD_TITLE=#{boardTitle}, BOARD_CONTENT=#{boardContent},
		 ORIGIN_FILE=#{originFile}, CHANGE_FILE=#{changeFile}
		WHERE BOARD_NO=#{boardNo}
</update>
	
<select id="selectTopList" resultMap="boardResultSet">
	<![CDATA[
		SELECT *
		FROM(
		SELECT *
		FROM BOARD 	
		ORDER BY COUNT DESC
		)
		WHERE ROWNUM <= 3
		]]>
	</select>
</mapper>
