<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

	<resultMap id="employeeResultSet" type="Employee">
		<id property="empId" column="EMP_ID"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="rightNo" column="RIGHT_NO"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="salLevel" column="SAL_LEVEL"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="modifyDate" column="MODIFIY_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<!-- <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
	
		select * from member where EMP_ID=#{empId} and USER_PWD=#{userPwd} and status='Y'
		
	</select> -->
	
	 <insert id="insertEmployee" parameterType="Employee" >
	insert into employee
	values (RPAD(to_number(to_char(SYSDATE, 'yymmdd')),9,SEQ_EMP_ID.NEXTVAL), #{jobCode},#{rightNo},#{deptCode},#{salLevel},sysdate,#{modifyDate},#{endDate},default)	
	</insert>

	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE STATUS = 'Y'		
	</select>
	
	
	
	<select id="selectList" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE STATUS = 'Y'
		ORDER BY EMP_ID DESC		
	</select>
	
	<!--  
	<update id="updateMember" parameterType="Member">
	update member set
	EMAIL = #{email}, GENDER = #{gender}, AGE = #{age}, PHONE = #{phone}, ADDRESS = #{address}, modify_DATE = sysdate
	WHERE user_ID = #{userId} 	
	</update>
	
	<delete id="deleteMember" parameterType="string">
		update member set
		STATUS = 'N'
		WHERE user_ID = #{userId}
	</delete>
	
	<update id="updatePwd" parameterType="Member">
	update member set
	user_pwd=#{userPwd}
	WHERE user_ID = #{userId} 	
	</update> -->
	
	
</mapper>
