<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
 
<mapper namespace="mailMapper">

	
	<resultMap type="Mail" id="mailResultSet">
		<id column="mail_no" property="mailNo"/>
		<result column="emp_id" property="empId"/>
		<result column="mail_receiver" property="receiver"/>
		<result column="mail_title" property="title"/>
		<result column="mail_content" property="content"/>
		<result column="mail_date" property="date"/>
		<result column="read_count" property="readCount"/>
		<result column="important_flag" property="importantFlag"/>
		<result column="writer_status" property="writerStatus"/>
		<result column="receiver_status" property="receiverStatus"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>
	
	<resultMap type="Mail" id="sendResultSet">
		<id column="mail_no" property="mailNo"/>
		<result column="emp_id" property="empId"/>
		<result column="user_name" property="receiver"/>
		<result column="mail_title" property="title"/>
		<result column="mail_content" property="content"/>
		<result column="mail_date" property="date"/>
		<result column="read_count" property="readCount"/>
		<result column="important_flag" property="importantFlag"/>
		<result column="writer_status" property="writerStatus"/>
		<result column="receiver_status" property="receiverStatus"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>
	
	<resultMap type="Mail" id="receiveResultSet">
		<id column="mail_no" property="mailNo"/>
		<result column="user_name" property="empId"/>
		<result column="emp_id" property="receiver"/>
		<result column="mail_title" property="title"/>
		<result column="mail_content" property="content"/>
		<result column="mail_date" property="date"/>
		<result column="read_count" property="readCount"/>
		<result column="important_flag" property="importantFlag"/>
		<result column="writer_status" property="writerStatus"/>
		<result column="receiver_status" property="receiverStatus"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>
	
	<resultMap id="employeeResultSet" type="Employee">
		<id property="empId" column="EMP_ID"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="rightNo" column="RIGHT_NO"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="salLevel" column="SAL_LEVEL"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="modifyDate" column="MODIFIY_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="Member">
      <id property="userNo" column="USER_NO"/>
      <result property="empId" column="EMP_ID"/>
      <result property="userPwd" column="USER_PWD"/>
      <result property="userName" column="USER_NAME"/>
      <result property="userSsn" column="USER_SSN"/>
      <result property="email" column="EMAIL"/>
      <result property="phone" column="PHONE"/>
      <result property="address" column="ADDRESS"/>
      <result property="gender" column="GENDER"/>
      <result property="originName" column="ORIGIN_NAME"/>
      <result property="changeName" column="CHANGE_NAME"/>
      <result property="status" column="STATUS"/>
   </resultMap>
   
   	<resultMap id="empListResultSet" type="Employee">
		<id property="empId" column="EMP_ID"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="userName" column="USER_NAME"/>
		<result property="rightName" column="RIGHT_NAME"/>
	</resultMap>
	
	<resultMap id="empResultSet" type="Member">
		<id property="empId" column="EMP_ID"/>
		<result property="userName" column="USER_NAME"/>
	</resultMap>
	
	<!-- 메일 작성 -->
	<insert id="insertMail" parameterType="Mail">
		insert into mail
		values(seq_mno.nextval, #{empId}, #{receiver}, #{title}, #{content}, sysdate, default,
				#{importantFlag},  default, default, #{originName}, #{changeName})
	</insert>
	
	<!-- 보낸 메일함 갯수 -->
	<select id="selectSendMailListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MAIL
		WHERE EMP_ID=#{empId}
		AND WRITER_STATUS=1 
	</select>
	
	<!-- 보낸메일함 리스트 받아오기 -->
	<select id="selectSendMailList" resultMap="sendResultSet">
		SELECT
		    *
		FROM MAIL A
		JOIN MEMBER B ON A.MAIL_RECEIVER=B.EMP_ID
		WHERE A.WRITER_STATUS=1
		AND A.EMP_ID=#{empId}
		ORDER BY A.MAIL_NO DESC
	</select>
	
	<!-- 보낸메일보기 -->
	<select id="selectSendMail" parameterType="_int" resultMap="sendResultSet">
		SELECT
		    *
		FROM MAIL A
		JOIN MEMBER B ON A.MAIL_RECEIVER=B.EMP_ID
		AND A.MAIL_NO=#{mno}
	</select>
	
	<!-- 받은 메일함 갯수 -->
	<select id="selectReceiveMailListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MAIL
		WHERE MAIL_RECEIVER=#{empId}
		AND RECEIVER_STATUS=1 
	</select>
	
	<!-- 받은메일함 리스트 받아오기 -->
	<select id="selectReceiveMailList" resultMap="receiveResultSet">
		SELECT
		    *
		FROM MAIL A
		JOIN MEMBER B ON A.EMP_ID=B.EMP_ID
		WHERE A.RECEIVER_STATUS=1
		AND A.MAIL_RECEIVER=#{empId}
		ORDER BY A.MAIL_NO DESC
	</select>
	
	<!-- 받은메일보기 -->
	<select id="selectReceiveMail" parameterType="_int" resultMap="receiveResultSet">
		SELECT
		    *
		FROM MAIL A
		JOIN MEMBER B ON A.EMP_ID=B.EMP_ID
		WHERE A.RECEIVER_STATUS=1
		AND A.MAIL_NO=#{mno}
	</select>
	
	<!-- 받은 메일 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE MAIL
		SET READ_COUNT=READ_COUNT+1
		WHERE MAIL_NO=${mno}
	</update>
	
	<!-- 받은메일에서 휴지통 -->
	<update id="wasteReceiveMail" parameterType="_int">
		UPDATE MAIL
		SET RECEIVER_STATUS=2
		WHERE MAIL_NO=${mno}
	</update>
	
	<!-- 보낸메일 재전송 -->
	<insert id="resendMail" parameterType="Mail">
		insert into mail
		values(seq_mno.nextval, #{empId}, #{receiver}, #{title}, #{content}, sysdate, default,
				#{importantFlag},  default, default, #{originName}, #{changeName})
	</insert>
	
	<!-- 아름으로 아이디 불러오기 -->
	<select id="getReceiver" resultMap="memberResultSet" parameterType="String">
		SELECT * FROM MEMBER
		WHERE USER_NAME=#{receiver}
	</select>
	
	<!-- 보낸메일 전달 -->
	<insert id="insertSendDelivery" parameterType="Mail">
		insert into mail
		values(seq_mno.nextval, #{empId}, #{receiver}, #{title}, #{content}, sysdate, default,
				#{importantFlag},  default, default, #{originName}, #{changeName})
	</insert>
	
	<!-- 보낸 메일 휴지통으로 이동 -->
	<update id="wasteSendMail" parameterType="_int">
		UPDATE MAIL
		SET WRITER_STATUS=2
		WHERE MAIL_NO=${mno}
	</update>
	
	<!-- 휴지통개수 -->
	<select id="selectWasteMailListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MAIL
		<where>
			<if test="receiver == empId">
				RECEIVER_STATUS=2
			</if>
			<if test="empId == empId">
				OR WRITER_STATUS=2
			</if>
		</where>
	</select>
	
	
	<!-- 휴지통 리스트 -->
	<select id="selectWasteMailList" resultMap="sendResultSet">
		SELECT *
		FROM MAIL A
		JOIN MEMBER B ON A.MAIL_RECEIVER=B.EMP_ID
		<where>
			<if test="receiver == empId">
				A.RECEIVER_STATUS=2
			</if>
			<if test="empId == empId">
				OR A.WRITER_STATUS=2
			</if>
		</where>
		ORDER BY A.MAIL_DATE DESC
	</select>
	
	<!-- 받은메일 답장 -->
	<insert id="insertReply" parameterType="Mail">
		insert into mail
		values(seq_mno.nextval, #{empId}, #{receiver}, #{title}, #{content}, sysdate, default,
				#{importantFlag},  default, default, #{originName}, #{changeName})
	
	</insert>
	
	<!-- 보낸메일복구 -->
	<update id="returnSendMail" parameterType="_int">
		UPDATE MAIL
		SET WRITER_STATUS=1
		WHERE MAIL_NO=${mno}
	</update>
	
	<!-- 받은 메일 복구 -->
	<update id="returnReceiveMail" parameterType="_int">
		UPDATE MAIL
		SET RECEIVER_STATUS=1
		WHERE MAIL_NO=${mno}
	</update>
	
	<!-- 진짜영구삭제 -->
	<delete id="wasteMail" parameterType="_int">
		DELETE MAIL
		WHERE MAIL_NO=${mno}
	</delete>
	
	<!-- 보낸 메일 영구삭제 -->
	<update id="updateWriter" parameterType="_int">
		UPDATE MAIL
		SET WRITER_STATUS=3
		WHERE MAIL_NO=${mno}
	</update>
	
	<!-- 받은 메일 영구삭제 -->
	<update id="updateReceiver" parameterType="_int">
		UPDATE MAIL
		SET RECEIVER_STATUS=3
		WHERE MAIL_NO=${mno}
	</update>
	
	<!-- 주소록  -->
	<select id="selectEmployeeList" parameterType="String" resultMap="empListResultSet">
		SELECT USER_NAME, EMP_ID, JOB_NAME, RIGHT_NAME
		FROM EMPLOYEE 
		JOIN MEMBER USING (EMP_ID)
		JOIN JOB USING (JOB_CODE)
		JOIN RIGHT USING (RIGHT_NO)
		WHERE DEPT_CODE=#{deptCode}
		ORDER BY 1
	</select>
	
	<!-- 메일 작성자 -->
	<select id="selectSendEmp" parameterType="_int" resultMap="empResultSet">
		SELECT E.EMP_ID, E.USER_NAME
		FROM MEMBER E
		JOIN MAIL M ON E.EMP_ID=M.EMP_ID
		WHERE M.MAIL_NO=#{mno}
	</select>
	
	<select id="selectMail" parameterType="_int" resultMap="mailResultSet">
		SELECT *
		FROM MAIL
		WHERE MAIL_NO=#{mno}
	</select>
	
	<!-- 메일 수신자 -->
	<select id="selectReceiveEmp" parameterType="_int" resultMap="empResultSet">
		SELECT E.EMP_ID, E.USER_NAME
		FROM MEMBER E
		JOIN MAIL M ON E.EMP_ID=M.MAIL_RECEIVER
		WHERE M.MAIL_NO=#{mno}
	</select>
	
	<!-- 메인용 보낸메일함 -->
	<select id="mainSendMailList" resultMap="sendResultSet">
		<![CDATA[
			SELECT *
			FROM	(SELECT
					    *
					FROM MAIL A
					JOIN MEMBER B ON A.MAIL_RECEIVER=B.EMP_ID
					WHERE A.WRITER_STATUS=1
					AND A.EMP_ID=#{empId}
					ORDER BY A.MAIL_NO DESC)
			WHERE ROWNUM <= 5
		]]>
	</select>
	
	<!-- 메인 받은 메일함 -->
	<select id="mainReceiveMailList" resultMap="receiveResultSet">
		<![CDATA[
			SELECT *
			FROM   (SELECT *
					FROM MAIL A
					JOIN MEMBER B ON A.EMP_ID=B.EMP_ID
					WHERE A.RECEIVER_STATUS=1
					AND A.MAIL_RECEIVER=#{empId}
					ORDER BY A.MAIL_NO DESC)
			WHERE ROWNUM <= 5
		]]>
	</select>

	<!--메인 받은 메일함 갯수 -->
	<select id="selectCountNoRead" resultType="_int">
		SELECT COUNT(*)
		FROM MAIL
		WHERE MAIL_RECEIVER=#{empId}
		AND RECEIVER_STATUS=1 
		AND READ_COUNT=0
	</select>

</mapper>
