<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mailMapper">

	
	<resultMap type="Mail" id="mailResultSet">
		<id column="mail_no" property="mailNo"/>
		<result column="emp_id" property="empId"/>
		<result column="mail_receiver" property="receiver"/>
		<result column="mail_title" property="title"/>
		<result column="mail_content" property="content"/>
		<result column="mail_date" property="date"/>
		<result column="read_count" property="readCount"/>
		<result column="inportant_flag" property="importantFlag"/>
		<result column="writer_status" property="writerStatus"/>
		<result column="receiver_status" property="receiverStatus"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>
	
	<insert id="insertMail" parameterType="Mail">
		insert into mail
		values(seq_mno.nextval, #{empId}, #{receiver}, #{title}, #{content}, sysdate, default,
				#{importantFlag},  default, default, #{originName}, #{changeName})
	</insert>
	
</mapper>
