<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="userNo" column="USER_NO"/>
		<result property="empId" column="EMP_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userSsn" column="USER_SSN"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="gender" column="GENDER"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
	
		select * from member where EMP_ID=#{empId} and USER_PWD=#{userPwd} and status='Y'
		
	</select>
	
	 <insert id="insertMember" parameterType="Member">
	insert into member
	values (SEQ_UNO.nextval,SEQ_EMP_ID.CURRVAL,#{userPwd},#{userName},#{userSsn},#{email},#{phone},#{address},#{gender},default)	
	</insert>
	
	<!--  
	<update id="updateMember" parameterType="Member">
	update member set
	EMAIL = #{email}, GENDER = #{gender}, AGE = #{age}, PHONE = #{phone}, ADDRESS = #{address}, modify_DATE = sysdate
	WHERE user_ID = #{userId} 	
	</update>
	
	<delete id="deleteMember" parameterType="string">
		update member set
		STATUS = 'N'
		WHERE user_ID = #{userId}
	</delete>
	
	<update id="updatePwd" parameterType="Member">
	update member set
	user_pwd=#{userPwd}
	WHERE user_ID = #{userId} 	
	</update> -->
	
	
</mapper>
