<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
      <id property="userNo" column="USER_NO"/>
      <result property="empId" column="EMP_ID"/>
      <result property="userPwd" column="USER_PWD"/>
      <result property="userName" column="USER_NAME"/>
      <result property="userSsn" column="USER_SSN"/>
      <result property="email" column="EMAIL"/>
      <result property="phone" column="PHONE"/>
      <result property="address" column="ADDRESS"/>
      <result property="gender" column="GENDER"/>
      <result property="originName" column="ORIGIN_NAME"/>
      <result property="changeName" column="CHANGE_NAME"/>
      <result property="status" column="STATUS"/>
   	<result property="rightNo" column="RIGHT_NO"/>
 	
   </resultMap>

	<select id="loginMember" parameterType="string" resultMap="memberResultSet">
	SELECT  M.USER_NO, M.EMP_ID, M.USER_PWD, M.USER_NAME, M.USER_SSN, M.EMAIL, M.PHONE, M.ADDRESS, M.GENDER,
		   M.ORIGIN_NAME, M.CHANGE_NAME, M.STATUS, E.RIGHT_NO
	FROM MEMBER M
	JOIN EMPLOYEE E ON E.EMP_ID = M.EMP_ID
	JOIN RIGHT R ON R.RIGHT_NO = E.RIGHT_NO
	WHERE M.EMP_ID =#{empId} AND M.STATUS='Y'
	
		<!-- select * from member where EMP_ID=#{empId} and status='Y' -->
		<!-- select * from member where EMP_ID=#{empId} and status='Y' -->
		
	</select>
	<update id="updateMember" parameterType="Member">
	update member set
	EMAIL = #{email}, GENDER = #{gender}, PHONE = #{phone}, ADDRESS = #{address},
	ORIGIN_NAME = #{originName}, CHANGE_NAME = #{changeName}
	WHERE EMP_ID=#{empId} 	
	</update>
	
	<update id="updatePic" parameterType="Member">
	update member set
	ORIGIN_NAME = #{originName}, CHANGE_NAME = #{changeName}
	WHERE EMP_ID=#{empId} 	
	</update>
	
	 <insert id="insertMember" parameterType="Member">

   insert into member
   values (SEQ_UNO.NEXTVAL, RPAD(to_number(to_char(SYSDATE, 'yymmdd')),9,SEQ_EMP_ID.CURRVAL),#{userPwd},#{userName},#{userSsn},#{email},#{phone},#{address},#{gender},
   #{originName}, #{changeName},default)   
   </insert>
   
   
   <select id="selectMem" parameterType="_int" resultMap="memberResultSet">


   SELECT M.EMP_ID, M.USER_NAME, M.USER_PWD, M.USER_SSN, M.EMAIL,PHONE, M.ADDRESS, M.GENDER, M.ORIGIN_NAME, M.CHANGE_NAME
   FROM MEMBER M 
   WHERE M.EMP_ID = #{empId} AND M.STATUS='Y'

 	
	</select>

	
	<!--  
	<update id="updateMember" parameterType="Member">
	update member set
	EMAIL = #{email}, GENDER = #{gender}, AGE = #{age}, PHONE = #{phone}, ADDRESS = #{address}, modify_DATE = sysdate
	WHERE user_ID = #{userId} 	
	</update>
	
	<delete id="deleteMember" parameterType="string">
		update member set
		STATUS = 'N'
		WHERE user_ID = #{userId}
	</delete>
	
	<update id="updatePwd" parameterType="Member">
	update member set
	user_pwd=#{userPwd}
	WHERE user_ID = #{userId} 	
	</update> -->
	
	
</mapper>
