<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeReplyMapper">



	<resultMap id="noticeReplyResultSet" type="Notice_Reply">
		<id column="REPLY_NO" property="replyNo" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="EMP_ID" property="empId" />
		<result column="REPLY_DATE" property="replyDate" />
	</resultMap>

	<insert id="insertNoticeReply" parameterType="Notice_Reply">
		INSERT INTO NOTICE_REPLY
		values(NREPLY_NO.NEXTVAL, #{noticeNo},
		#{replyContent},#{empId}, sysdate)

	</insert>
	
	<select id="selectNoticeReplyList" parameterType="_int"
		resultMap="noticeReplyResultSet">
		SELECT *
		FROM NOTICE_REPLY
		WHERE NOTICE_NO=#{bno}
		ORDER BY REPLY_NO DESC
	
	</select>
		<!-- 
	<update id = "updateReply" parameterType="Board_Reply">
	UPDATE BOARD_REPLY
	SET REPLY_CONTENT= #{replyContent},REPLY_DATE = sysdate
	WHERE REPLY_NO =#{replyNo} 
	</update>
	 -->
</mapper>
