<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="salaryMapper">

	<resultMap id="salaryResultSet" type="Salary">
		<id property="salLevel" column="SAL_LEVEL"/>
		<result property="empId" column="EMP_ID"/>
		<result property="commission" column="COMMISSION"/>
		<result property="meal" column="MEAL"/>
		<result property="incomeTax" column="INCOME_TAX"/>
		<result property="empInsurance" column="EMP_INSURANCE"/>
		<result property="retirement" column="RETIREMENT"/>
		<result property="healthInsurance" column="RETIREMENT"/>
		<result property="total" column="TOTAL"/>
		<result property="basic" column="BASIC"/>
	</resultMap>
	
	<!-- <resultMap id="jobResultSet" type="Job">
		<id property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME"/>
	</resultMap>
	
	<resultMap id="deptResultSet" type="Department">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
	</resultMap>
	
	<resultMap id="rightResultSet" type="Right">
		<id property="rightNo" column="RIGHT_NO"/>
		<result property="rightName" column="RIGHT_NAME"/>
	</resultMap>
	
	<resultMap id="salGradeResultSet" type="SalGrade">
		<id property="salLevel" column="SAL_LEVEL"/>
		<result property="minSal" column="MIN_SAL"/>
		<result property="maxSal" column="MAX_SAL"/>
	</resultMap> -->


	
	 <insert id="insertSal" parameterType="Salary" >
	insert into salary
	values (SEQ_SALNO.NEXTVAL, #{salLevel}, RPAD(to_number(to_char(SYSDATE, 'yymmdd')),9,SEQ_EMP_ID.CURRVAL),  #{commission},#{meal},#{incomeTax},#{empInsurance},#{retirement},#{healthInsurance},#{total},#{basic})	
	</insert>

	<select id="selectSal" parameterType="_int" resultMap="salaryResultSet">


    SELECT S.EMP_ID, S.COMMISSION, S.MEAL, S.INCOME_TAX, S.EMP_INSURANCE, S.RETIREMENT,  S.HEALTH_INSURANCE, S.TOTAL, S.BASIC

	FROM SALARY S
	WHERE S.EMP_ID = #{empId}
	
	</select>
	
	
	
</mapper>
