<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scheduleMapper">

	<resultMap id="scheduleResultSet" type="Schedule">
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="empId" column="EMP_ID"/>
		<result property="scheduleTitle" column="SCHEDULE_TITLE"/>
		<result property="scheduleStart" column="SCHEDULE_START"/>
		<result property="scheduleEnd" column="SCHEDULE_END"/>
		<result property="scheduleDiscription" column="SCHEDULE_DISCRIPTION"/>
		<result property="scheduleTypeNo" column="SCHEDULE_TYPE_NO"/>
		<result property="scheduleBackground" column="SCHEDULE_BACKGROUNDCOLOR"/>
		<result property="scheduleAllDay" column="SCHEDULE_ALLDAY"/>
		<result property="userName" column="USER_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
	</resultMap>
	
	


	
	 <insert id="insertSchedule" parameterType="Schedule" >
	INSERT INTO SCHEDULE
	VALUES (SEQ_SALNO.NEXTVAL, #{salLevel}, RPAD(to_number(to_char(SYSDATE, 'yymmdd')),9,SEQ_EMP_ID.CURRVAL),  #{commission},#{meal},#{incomeTax},#{empInsurance},#{retirement},#{healthInsurance},#{total})	
	</insert>

	
	
	
	
</mapper>
