<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="votingMapper">
<resultMap id="votingResultSet" type="Voting">
		<id column="VOTING_NO" property="votingNo"/>
		<result column="VOTING_TITLE" property="votingTitle"/>
		<result column="VOTING_CONTENT" property="votingContent"/>
		<result column="EMP_ID" property="empId"/>
		<result column="VOTING_DATE" property="votingDate"/>
		
		
</resultMap> 

<resultMap id="votingAResultSet" type="VotingA">
	<id column="VOTING_NO" property="votingNo"/>
	<result column="REF_NO" property="refNo"/>
	<result column="CONTENT" property="content"/>
	<result column="COUNT" property="count"/>
		

</resultMap>

 <select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM VOTING
	</select>

	<select id="selectList"   resultMap="votingResultSet" >
		SELECT *
		FROM VOTING 
		ORDER BY VOTING_NO DESC
	</select>

<insert id = "insertVoting" parameterType="Voting">

 	INSERT INTO VOTING
 	
	VALUES(VOTING_NO.NEXTVAL, #{votingTitle}, #{votingContent}, #{empId}, sysdate,default) 
</insert>
<insert id = "insertContent"  parameterType="String" >
	INSERT INTO VOTING_A
	VALUES(VA_SQE.NEXTVAL, VOTING_NO.CURRVAL, #{content},default)
</insert>

<select id="selectVoting" parameterType="_int" resultMap="votingResultSet" >
		SELECT *
		FROM VOTING 
		WHERE VOTING_NO=#{bno} 	
	</select>
	
	<select id="selectList2" parameterType="_int" resultMap="votingAResultSet" >
		SELECT *
		FROM VOTING_A 
		WHERE REF_NO=#{bno} 	
	</select>
	

	
	<update id = "updateVoting" parameterType="VotingA">
	UPDATE VOTING_A 
	SET COUNT = COUNT+1
	WHERE REF_NO =#{refNo} AND CONTENT=#{content}
	</update>
	
</mapper>
